/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
html, body, div, span, applet, object, iframe,
.maintenance-heading, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

a, button {
  -webkit-transition: color .6s ease,background .6s ease,border-color .6s ease;
  -o-transition: color .6s ease,background .6s ease,border-color .6s ease;
  -moz-transition: color .6s ease,background .6s ease,border-color .6s ease;
  transition: color .6s ease,background .6s ease,border-color .6s ease; }

a {
  color: inherit; }

sup {
  top: -.2em; }

.comments_note {
  display: none; }

a, a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none; }

body {
  height: 100%;
  line-height: 1.2;
  font-size: 14px;
  color: #666666;
  font-weight: normal;
  font-family: 'Open Sans';
  font-weight: normal; }

input.button_mini,
input.button_small,
input.button,
input.button,
button.button,
input.button_large,
input.button_mini_disabled,
input.button_small_disabled,
input.button_disabled,
input.button_large_disabled,
input.exclusive_mini,
input.exclusive_small,
input.exclusive,
input.exclusive_large,
input.exclusive_mini_disabled,
input.exclusive_small_disabled,
input.exclusive_disabled,
input.exclusive_large_disabled,
a.button_mini,
a.button_small,
a.button,
a.button_large,
a.exclusive_mini,
a.exclusive_small,
a.exclusive,
a.exclusive_large,
span.button_mini,
span.button_small,
span.button,
span.button_large,
span.exclusive_mini,
span.exclusive_small,
span.exclusive,
span.exclusive_large,
span.exclusive_large_disabled,
.btn.btn-default {
  z-index: 0;
  position: relative;
  display: inline-block;
  background: none;
  text-transform: uppercase;
  padding: 0 30px;
  line-height: 44px;
  height: 44px;
  font-size: 12px;
  font-family: 'MuseoSansCyrl500','Open Sans';
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  border-style: solid;
  border-width: 1px;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  -moz-transition: color .2s linear;
  transition: color .2s linear; }

input.button_mini:after,
input.button_small:after,
input.button:after,
input.button:after,
button.button:after,
input.button_large:after,
input.button_mini_disabled:after,
input.button_small_disabled:after,
input.button_disabled:after,
input.button_large_disabled:after,
input.exclusive_mini:after,
input.exclusive_small:after,
input.exclusive:after,
input.exclusive_large:after,
input.exclusive_mini_disabled:after,
input.exclusive_small_disabled:after,
input.exclusive_disabled:after,
input.exclusive_large_disabled:after,
a.button_mini:after,
a.button_small:after,
a.button:after,
a.button_large:after,
a.exclusive_mini:after,
a.exclusive_small:after,
a.exclusive:after,
a.exclusive_large:after,
span.button_mini:after,
span.button_small:after,
span.button:after,
span.button_large:after,
span.exclusive_mini:after,
span.exclusive_small:after,
span.exclusive:after,
span.exclusive_large:after,
span.exclusive_large_disabled:after,
.btn.btn-default:after,
input.button_mini:before,
input.button_small:before,
input.button:before,
input.button:before,
button.button:before,
input.button_large:before,
input.button_mini_disabled:before,
input.button_small_disabled:before,
input.button_disabled:before,
input.button_large_disabled:before,
input.exclusive_mini:before,
input.exclusive_small:before,
input.exclusive:before,
input.exclusive_large:before,
input.exclusive_mini_disabled:before,
input.exclusive_small_disabled:before,
input.exclusive_disabled:before,
input.exclusive_large_disabled:before,
a.button_mini:before,
a.button_small:before,
a.button:before,
a.button_large:before,
a.exclusive_mini:before,
a.exclusive_small:before,
a.exclusive:before,
a.exclusive_large:before,
span.button_mini:before,
span.button_small:before,
span.button:before,
span.button_large:before,
span.exclusive_mini:before,
span.exclusive_small:before,
span.exclusive:before,
span.exclusive_large:before,
span.exclusive_large_disabled:before,
.btn.btn-default:before,
.btn.btn_border:after, .btn.btn_border:before,
.product_list.list .btn.btn_border:after {
  content: '';
  display: block;
  width: 0;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  height: 100%; }

input.button_mini:after,
input.button_small:after,
input.button:after,
input.button:after,
button.button:after,
input.button_large:after,
input.button_mini_disabled:after,
input.button_small_disabled:after,
input.button_disabled:after,
input.button_large_disabled:after,
input.exclusive_mini:after,
input.exclusive_small:after,
input.exclusive:after,
input.exclusive_large:after,
input.exclusive_mini_disabled:after,
input.exclusive_small_disabled:after,
input.exclusive_disabled:after,
input.exclusive_large_disabled:after,
a.button_mini:after,
a.button_small:after,
a.button:after,
a.button_large:after,
a.exclusive_mini:after,
a.exclusive_small:after,
a.exclusive:after,
a.exclusive_large:after,
span.button_mini:after,
span.button_small:after,
span.button:after,
span.button_large:after,
span.exclusive_mini:after,
span.exclusive_small:after,
span.exclusive:after,
span.exclusive_large:after,
span.exclusive_large_disabled:after,
.btn.btn-default:after,
input.button_mini:before,
input.button_small:before,
input.button:before,
input.button:before,
button.button:before,
input.button_large:before,
input.button_mini_disabled:before,
input.button_small_disabled:before,
input.button_disabled:before,
input.button_large_disabled:before,
input.exclusive_mini:before,
input.exclusive_small:before,
input.exclusive:before,
input.exclusive_large:before,
input.exclusive_mini_disabled:before,
input.exclusive_small_disabled:before,
input.exclusive_disabled:before,
input.exclusive_large_disabled:before,
a.button_mini:before,
a.button_small:before,
a.button:before,
a.button_large:before,
a.exclusive_mini:before,
a.exclusive_small:before,
a.exclusive:before,
a.exclusive_large:before,
span.button_mini:before,
span.button_small:before,
span.button:before,
span.button_large:before,
span.exclusive_mini:before,
span.exclusive_small:before,
span.exclusive:before,
span.exclusive_large:before,
span.exclusive_large_disabled:before,
.btn.btn-default:before,
#product .socialsharing_product .btn.btn-default:before, .btn.btn_border:after, .btn.btn_border:before {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear; }

input.button_mini:before,
input.button_small:before,
input.button:before,
input.button:before,
button.button:before,
input.button_large:before,
input.button_mini_disabled:before,
input.button_small_disabled:before,
input.button_disabled:before,
input.button_large_disabled:before,
input.exclusive_mini:before,
input.exclusive_small:before,
input.exclusive:before,
input.exclusive_large:before,
input.exclusive_mini_disabled:before,
input.exclusive_small_disabled:before,
input.exclusive_disabled:before,
input.exclusive_large_disabled:before,
a.button_mini:before,
a.button_small:before,
a.button:before,
a.button_large:before,
a.exclusive_mini:before,
a.exclusive_small:before,
a.exclusive:before,
a.exclusive_large:before,
span.button_mini:before,
span.button_small:before,
span.button:before,
span.button_large:before,
span.exclusive_mini:before,
span.exclusive_small:before,
span.exclusive:before,
span.exclusive_large:before,
span.exclusive_large_disabled:before,
.btn.btn-default:before,
.btn.btn_border:before,
.product_list.list .btn.btn_border:before {
  left: auto;
  right: 0; }

input.button_mini:after,
input.button_small:after,
input.button:after,
input.button:after,
button.button:after,
input.button_large:after,
input.button_mini_disabled:after,
input.button_small_disabled:after,
input.button_disabled:after,
input.button_large_disabled:after,
input.exclusive_mini:after,
input.exclusive_small:after,
input.exclusive:after,
input.exclusive_large:after,
input.exclusive_mini_disabled:after,
input.exclusive_small_disabled:after,
input.exclusive_disabled:after,
input.exclusive_large_disabled:after,
a.button_mini:after,
a.button_small:after,
a.button:after,
a.button_large:after,
a.exclusive_mini:after,
a.exclusive_small:after,
a.exclusive:after,
a.exclusive_large:after,
span.button_mini:after,
span.button_small:after,
span.button:after,
span.button_large:after,
span.exclusive_mini:after,
span.exclusive_small:after,
span.exclusive:after,
span.exclusive_large:after,
span.exclusive_large_disabled:after,
.btn.btn-default:after,
input.button_mini:before,
input.button_small:before,
input.button:before,
input.button:before,
button.button:before,
input.button_large:before,
input.button_mini_disabled:before,
input.button_small_disabled:before,
input.button_disabled:before,
input.button_large_disabled:before,
input.exclusive_mini:before,
input.exclusive_small:before,
input.exclusive:before,
input.exclusive_large:before,
input.exclusive_mini_disabled:before,
input.exclusive_small_disabled:before,
input.exclusive_disabled:before,
input.exclusive_large_disabled:before,
a.button_mini:before,
a.button_small:before,
a.button:before,
a.button_large:before,
a.exclusive_mini:before,
a.exclusive_small:before,
a.exclusive:before,
a.exclusive_large:before,
span.button_mini:before,
span.button_small:before,
span.button:before,
span.button_large:before,
span.exclusive_mini:before,
span.exclusive_small:before,
span.exclusive:before,
span.exclusive_large:before,
span.exclusive_large_disabled:before,
.btn.btn-default:before,
.btn.btn_border:hover:after, .btn.btn_border:hover:before,
.product_list.list .btn.btn_border:before, .product_list.list .btn.btn_border:after {
  width: 50%; }

input.button_mini:hover:after,
input.button_small:hover:after,
input.button:hover:after,
input.button:hover:after,
button.button:hover:after,
input.button_large:hover:after,
input.button_mini_disabled:hover:after,
input.button_small_disabled:hover:after,
input.button_disabled:hover:after,
input.button_large_disabled:hover:after,
input.exclusive_mini:hover:after,
input.exclusive_small:hover:after,
input.exclusive:hover:after,
input.exclusive_large:hover:after,
input.exclusive_mini_disabled:hover:after,
input.exclusive_small_disabled:hover:after,
input.exclusive_disabled:hover:after,
input.exclusive_large_disabled:hover:after,
a.button_mini:hover:after,
a.button_small:hover:after,
a.button:hover:after,
a.button_large:hover:after,
a.exclusive_mini:hover:after,
a.exclusive_small:hover:after,
a.exclusive:hover:after,
a.exclusive_large:hover:after,
span.button_mini:hover:after,
span.button_small:hover:after,
span.button:hover:after,
span.button_large:hover:after,
span.exclusive_mini:hover:after,
span.exclusive_small:hover:after,
span.exclusive:hover:after,
span.exclusive_large:hover:after,
span.exclusive_large_disabled:hover:after,
.btn.btn-default:hover:after,
input.button_mini:hover:before,
input.button_small:hover:before,
input.button:hover:before,
input.button:hover:before,
button.button:hover:before,
input.button_large:hover:before,
input.button_mini_disabled:hover:before,
input.button_small_disabled:hover:before,
input.button_disabled:hover:before,
input.button_large_disabled:hover:before,
input.exclusive_mini:hover:before,
input.exclusive_small:hover:before,
input.exclusive:hover:before,
input.exclusive_large:hover:before,
input.exclusive_mini_disabled:hover:before,
input.exclusive_small_disabled:hover:before,
input.exclusive_disabled:hover:before,
input.exclusive_large_disabled:hover:before,
a.button_mini:hover:before,
a.button_small:hover:before,
a.button:hover:before,
a.button_large:hover:before,
a.exclusive_mini:hover:before,
a.exclusive_small:hover:before,
a.exclusive:hover:before,
a.exclusive_large:hover:before,
span.button_mini:hover:before,
span.button_small:hover:before,
span.button:hover:before,
span.button_large:hover:before,
span.exclusive_mini:hover:before,
span.exclusive_small:hover:before,
span.exclusive:hover:before,
span.exclusive_large:hover:before,
span.exclusive_large_disabled:hover:before,
.btn.btn-default:hover:before,
.product_list.list .btn.btn_border:hover:before,
.product_list.list .btn.btn_border:hover:after {
  width: 0; }

.form-control {
  padding: 3px 10px;
  height: 47px;
  background: none;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

#maintenance #message {
  max-width: 928px;
  margin: 0 auto;
  line-height: 2; }

body {
  background-attachment: fixed;
  background: url(../img/bg_maintenance.jpg) no-repeat center top;
  background-position: center top; }

#maintenance {
  text-align: center;
  padding: 89px 0 60px; }

#maintenance .logo img {
  display: inline-block;
  vertical-align: middle; }

#maintenance .logo span {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  padding-left: 25px; }

#maintenance .logo span b {
  font-weight: 900; }

#maintenance .maintenance-heading {
  font-size: 60px;
  font-weight: 700;
  margin: 95px 0 15px; }

#maintenance .maintenance-heading span {
  display: inline-block;
  line-height: 1.5;
  padding: 0 99px; }

@media (max-width: 1199px) {
  #maintenance .maintenance-heading {
    font-size: 50px; } }
@media (max-width: 991px) {
  #maintenance .maintenance-heading {
    font-size: 30px; } }
@media (max-width: 767px) {
  #maintenance .maintenance-heading {
    font-size: 28px;
    margin-top: 100px; } }
@media (max-width: 580px) {
  #maintenance .maintenance-heading {
    font-size: 25px; }

  #maintenance .maintenance-heading span {
    padding: 0 15px;
    width: 100%; } }
@media (max-width: 480px) {
  #maintenance .maintenance-heading {
    font-size: 18px;
    margin: 40px 0 0; } }
@media (max-width: 380px) {
  #maintenance .maintenance-heading {
    font-size: 16px; } }
.facebook-box {
  margin-top: 20px; }

.facebook-box a {
  font-size: 50px;
  color: #ED1C24; }

/*# sourceMappingURL=maintenance.css.map */
